@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 100% 98%;
    --foreground: 26 32% 15%;
    --card: 0 0% 100%;
    --card-foreground: 26 32% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 26 32% 15%;
    --primary: 16 100% 56%;
    --primary-foreground: 0 0% 100%;
    --primary-deep: 16 87% 48%;
    --secondary: 32 68% 94%;
    --secondary-foreground: 26 32% 15%;
    --muted: 32 50% 93%;
    --muted-foreground: 27 20% 45%;
    --accent: 36 100% 65%;
    --accent-foreground: 26 32% 15%;
    --destructive: 4 74% 49%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 35% 88%;
    --input: 30 35% 85%;
    --ring: 16 100% 56%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
}
